body {
    margin: 0px;
    padding: 0px;
    background: white;
    font-family: "BankGothic Lt BT",Helvetica,Arial,sans-serif;
}

.cabecalho {
    float: left;
    overflow: hidden;
    width: 100%;
}

.principal-container {
    width: 100%;
    overflow: hidden;
    height: 980px;
    background: rgba(200, 200, 200, 0.19);
}

.view-content {
    margin: auto;
    width: 70%;
    overflow: hidden;
    height: 980px;
}

.view-lateral {
    float: left;
    height: 978px;
    width: calc(30% - 14px);
    background-color: rgba(121, 128, 121, 0.19);
    border-radius: 15px 0 0 15px;
}

.view-conversas {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 70%;
}

    .view-conversas .conversa {
        width: calc(100% - 14px);
        background: rgb(202, 202, 193);
        cursor: pointer;
        border-bottom: 1px solid #ccc7c7;
        border-top: 1px solid #a09e9e;
        border-left: 3px solid #b5bbb8;
        height: 50px;
        margin: 5px 0px 5px 5px;
        border-radius: 5px 0 0 5px;
        padding: 2px 2px 2px 5px;
    }

    .view-conversas .conversa-selecionada {
        width: calc(100% - 12px);
        background: linear-gradient(to right, #d0d4d0,rgb(234, 234, 236));
        cursor: pointer;
        /* border-bottom: 1px solid #ccc7c7; */
        /* border-top: 1px solid #aba9a9; */
        border-left: 3px solid #bfbebe;
        height: 50px;
        margin: 5px 0px 5px 5px;
        border-radius: 9px 0 0 0;
        padding: 2px 0 4px 4px;
    }

    .view-conversas .foto {
        height: 45px;
        width: 15%;
        margin: 1px;
        border: 1px solid #afabab;
        border-radius: 5px 0px 0px 0px;
        float: left;
    }

    .view-conversas .conversa:hover {
        background: rgba(173, 173, 173, 0.28);
    }

.field-groups {
    overflow: hidden;
}

.view-mensagens {
    float: left;
    height: 978px;
    width: calc(70% - 14px);
    background-color: rgba(184, 185, 197, 0.19);
    border-radius: 1px;
    border-right: 1px solid #ccc7c7;
}

.mensagens {
    overflow: hidden;
    height: calc(90% - 14px);
    width: 100%;
    border-radius: 1px;
}

.view-mensagens .envio {
    width: 90%;
    height: calc(10% - 16px);
    overflow: hidden;
    margin: 0 auto;
}

.view-mensagens .field-groups .field-form {
    overflow: hidden;
    width: 79%;
    padding: 3px;
    height: 25px;
    margin: 5px 20px 10px 20px;
    border-radius: 5px;
}

.view-mensagens .field-groups .botao-acao {
    width: 70px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #111;
    cursor: pointer;
}

.view-mensagens .field-groups .botoes-acao :hover {
    background-color: #eee;
}

.field-groups div {
    overflow: hidden;
    text-align: center;
}

.field-groups .field-form {
    width: 90%;
    padding: 3px;
    height: 25px;
    border: 1px solid #111;
    margin: 5px 20px 10px 20px;
    border-radius: 5px;
}

.field-groups .botao-cadastrar {
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid #a09999;
    cursor: pointer;
}

.view-mensagens .field-form textarea {
    border-radius: 7px;
    height: 40px;
    border: 0;
    width: 76%;
}

.view-mensagens .field-form input {
    width: 20%;
}

.view-mensagens .botao-enviar {
    float: right;
    overflow: hidden;
    height: auto;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #111;
    cursor: pointer;
}

.view-mensagens .botoes-acao:hover {
    background-color: #eee;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: calc(100% - 207px);
    width: 100%;
}
