
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.exe
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Uu]ploads*/
[Cc]ache*/
_ReSharper*/
[Tt]est[Rr]esult*
Library/
Temp/
AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game.sln
AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game.userprefs
AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game-csharp.sln
AeC.Persona.Operacao.Game/Assembly-CSharp.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-Editor.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-Editor-vs.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-firstpass.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-firstpass-vs.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-vs.csproj
AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game.sln
AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game.userprefs
AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game-csharp.sln
AeC.Persona.Operacao.Game/Assembly-CSharp.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-Editor.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-Editor-vs.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-firstpass.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-firstpass-vs.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-vs.csproj
*.dbmdl
*.dbmdl
*Publish.xml
*.pubxml
/.vs/config/applicationhost.config
/Backup1
/UpgradeLog3.htm
/AeC.Persona.DataBase/sql/release
/AeC.Sponsor.Database/sql/release

AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game.sln
AeC.Persona.Operacao.Game/AeC.Persona.Operacao.Game-csharp.sln
AeC.Persona.Operacao.Game/Assembly-CSharp.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-Editor.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-Editor-vs.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-firstpass.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-firstpass-vs.csproj
AeC.Persona.Operacao.Game/Assembly-CSharp-vs.csproj
AeC.Persona.Operacao.Game/Assembly-UnityScript.unityproj
AeC.Persona.Operacao.Game/Assembly-UnityScript-Editor.unityproj
AeC.Persona.Operacao.Game/Assembly-UnityScript-Editor-vs.unityproj
AeC.Persona.Operacao.Game/Assembly-UnityScript-vs.unityproj
