html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;
    font-family: 'Arial Unicode MS';
    height: 100%;
}


input {
    border: 0;
}

.cabecalho {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 5%;
}

.chat {
    width: 100%;
    height: 100%;
    background: #fff;
}

.form {
    width: 40%;
    margin: auto;
    position: relative;
    top: 30%;
}

.form h2 {
    text-align: center;
    color: #5d5959;
}

.aviso-indisponibilidade {
    position: absolute;
    top: 41%;
    /* margin: auto; */
    right: 33%;
}

.aviso-indisponibilidade  h2 {
    text-align: center;
    color: #5d5959;
}

.logo {
    width: 10%;
    margin: auto;
    position: relative;
    top: 2%;
    left: 10%;
}


.principal-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    /* background: linear-gradient(to bottom, #FFF, rgba(238, 241, 239, 0.77)); */
}

.view-content {
    margin: auto;
    width: 70%;
    overflow: hidden;
    height: 82%;
    border: 1px solid rgb(235, 234, 234);
    margin-top: 10px;
}

.view-lateral {
    float: left;
    height: 100%;
    width: calc(30% - 2px);
    /* background-color: #fff; */
    border-right: 1px solid #ececec;
}

.box-cadastrar {
    padding: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 91px);
    background: #FFF;
}

.botao-cadastrar {
    width: 100px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #ded2d2;
    cursor: pointer;
    float: right;
    background: rgba(212, 205, 205, 0.17);
}

.view-conversas {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 95%;
}

    .view-conversas .conversa {
        width: calc(100% - 14px);
        background: rgb(249, 249, 248);
        cursor: pointer;
        /* border-bottom: 1px solid #ebeaea; */
        border: 1px solid #ebeaea;
        border-left: 3px solid #d3d6d4;
        height: 50px;
        margin: 5px 0px 5px 5px;
        padding: 2px 2px 2px 5px;
    }

    .view-conversas .conversa-selecionada {
        width: calc(100% - 12px);
        background: linear-gradient(to right, #dfdfdc,rgb(255, 255, 255));
        cursor: pointer;
        border-bottom: 1px solid #fffbfb;
        border: 1px solid #ebeaea;
        border-left: 3px solid rgba(109, 107, 107, 0.65);
        height: 50px;
        margin: 5px 0px 5px 5px;
        padding: 2px 0 4px 4px;
    }

    .view-conversas .foto {
        height: 44px;
        width: 44px;
        margin: 1px;
        border: 1px solid #ced6d2;
        border-radius: 5px 0px 0px 0px;
        float: left;
    }

    .view-conversas .conversa:hover {
        background: rgba(214, 206, 206, 0.28);
    }

.field-groups {
    overflow: hidden;
    /* text-align: center; */
    /* left: 50%; */
}

   .field-groups .field-form  {
        width: calc(100% - 28px);
        padding: 3px;
        height: 34px;
        border-bottom: 1px solid #ded2d2 !important;
        margin: 5px 20px 10px 20px;
        font-size: 22px;
        text-align: center;
    }

.view-mensagens {
    float: left;
    height: 100%;
    width: 100%;
    /* background-color: #fff; */
}

.view-mensagens-admin {
    float: left;
    height: calc(100% - 9px);
    width: calc(70% - 9px);
    /* background-color: #fff; */
    margin: 5px;
    background: #fdfdfd;
}

.mensagens {
    overflow: hidden;
    height: 80%;
    width: calc(100% - 8px);
    border-radius: 1px;
    /* margin: 5px; */
    /* background: #fbfbfb; */
}

.mensagens .mensagem {
    /* background: #fdfdfd; */
    margin-top: 58px;
}

.envio {
    width: 94%;
    margin: 0 auto;
}
.view-mensagens-admin .field-groups .field-form {
    overflow: hidden;
    width: 79%;
    padding: 3px;
    height: 25px;
    margin: 5px 20px 10px 20px;
    border-radius: 5px;
}
.view-mensagens .field-groups .field-form {
    overflow: hidden;
    width: 79%;
    padding: 3px;
    height: 25px;
    margin: 5px 20px 10px 20px;
    border-radius: 5px;
}

.field-groups .botao-acao {
    width: 70px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #111;
    cursor: pointer;
}

.field-groups .botoes-acao :hover {
    background-color: #eee;
}


.field-form textarea {
    height: 71px;
    border: 1px solid #ebeaea;
    width: 85%;
}

.field-form input {
    width: 12%;
    right: 47%;
}

.botao-enviar {
    float: right;
    overflow: hidden;
    height: auto;
    height: 76px;
    border: 1px solid #ebeaea;
    cursor: pointer;
    background: #f9f9f8;
}

.botoes-acao:hover {
    background-color: #eee;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: calc(100% - 207px);
    width: 100%;
}
