html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;
    font-family: "BankGothic Lt BT",Helvetica,Arial,sans-serif;
    height: 100%;
}

.cabecalho {
    float: left;
    overflow: hidden;
    width: 100%;
}

.principal-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: #6b6f6b;
}

.view-content {
    margin: auto;
    width: 70%;
    overflow: hidden;
    height: calc(100% - 13px);
    border: 1px solid rgba(245, 245, 245, 0.45);
    /* border-radius: 13px 0; */
    margin-top: 10px;
}

.view-lateral {
    float: left;
    height: 100%;
    width: calc(30% - 14px);
    background-color: #fff;
    /* border-radius: 15px 0 0 15px; */
    border-right: 1px solid #ececec;
}

    .view-lateral .box-cadastrar {
        margin: 10px;
        padding: 5px;
        /* position: relative; */
    }

    .view-lateral .box-cadastrar {
    }

.view-conversas {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 70%;
}

    .view-conversas .conversa {
        width: calc(100% - 14px);
        background: rgb(224, 224, 214);
        cursor: pointer;
        border-bottom: 1px solid #ccc7c7;
        border: 1px solid #a09e9e;
        border-left: 3px solid #b5bbb8;
        height: 50px;
        margin: 5px 0px 5px 5px;
        /* border-radius: 5px 0 0 5px; */
        padding: 2px 2px 2px 5px;
    }

    .view-conversas .conversa-selecionada {
        width: calc(100% - 12px);
        background: linear-gradient(to right, #e0e0d6,rgb(252, 252, 253));
        cursor: pointer;
        border-bottom: 1px solid #fffbfb;
        border: 1px solid #aba9a9;
        border-left: 3px solid #bfbebe;
        height: 50px;
        margin: 5px 0px 5px 5px;
        /* border-radius: 9px 0 0 0; */
        padding: 2px 0 4px 4px;
    }

    .view-conversas .foto {
        height: 45px;
        width: 15%;
        margin: 1px;
        border: 1px solid #afabab;
        border-radius: 5px 0px 0px 0px;
        float: left;
    }

    .view-conversas .conversa:hover {
        background: rgba(173, 173, 173, 0.28);
    }

.field-groups {
    overflow: hidden;
}

.view-mensagens {
    float: left;
    height: 100%;
    width: calc(70% - -11px);
    background-color: #fff;
}

.mensagens {
    overflow: hidden;
    height: 89%;
    width: 100%;
    border-radius: 1px;
}
.view-mensagens .mensagens .mensagem {
    background: #f6f5f5;
}

.view-mensagens .envio {
    width: 94%;
    margin: 0 auto;
}

.view-mensagens .field-groups .field-form {
    overflow: hidden;
    width: 79%;
    padding: 3px;
    height: 25px;
    margin: 5px 20px 10px 20px;
    border-radius: 5px;
}

.view-mensagens .field-groups .botao-acao {
    width: 70px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #111;
    cursor: pointer;
}

.view-mensagens .field-groups .botoes-acao :hover {
    background-color: #eee;
}

.field-groups div {
    overflow: hidden;
    text-align: center;
    left: 50%;
    /* width: 80%; */
}

.field-groups .field-form {
    width: 90%;
    padding: 3px;
    height: 34px;
    border: 1px solid #ded2d2;
    margin: 5px 20px 10px 20px;
    /* border-radius: 5px; */
    font-size: 22px;
    text-align: center;
}

.field-groups .botao-cadastrar {
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid #a09999;
    cursor: pointer;
}

.view-mensagens .field-form textarea {
    /* border-radius: 7px; */
    height: 71px;
    border: 1px solid #b1a5a5;
    width: 85%;
}

.view-mensagens .field-form input {
    width: 12%;
    right: 47%;
}

.view-mensagens .botao-enviar {
    float: right;
    overflow: hidden;
    height: auto;
    height: 76px;
    /* border-radius: 62px; */
    border: 1px solid #c7c4c4;
    cursor: pointer;
    background: #ebeaea;
}

.view-mensagens .botoes-acao:hover {
    background-color: #eee;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 15px 20px;
    color: white;
    position: fixed;
    top: calc(100% - 207px);
    width: 100%;
}
